h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

h4 {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: whitesmoke;
}

h3 {
  font-size: 21px;
  color: gray;
}

h1,
h2,
h3,
h4 {
  font-family: Verdana;
}

body {
  background-color: black;
  text-align: center;
}

footer {
  text-align: right;
  color: gray;
}
